<section id="confirm">
    
    <div class="container">
        <div class="content">
            <h3>Hello, <span>{{userName}}</span></h3>
            <h5>Thank you for hosting you home. Our team will review your place ,<br> then
                we will reply as soon as possible, you 
                 can check your listing.</h5>
            <h6>Have a nice day :)</h6>
            <button class="btn " type="button" routerLink="/hosting/listing">Your Listing</button>
        </div>
    </div>
</section>
