<section class="lastsection">

    <footer class="footer">
        <div class="container">
            <div class="row">
                
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul>
                        <li><a href="https://www.facebook.com/airbnb" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        
                        <li><a href="https://twitter.com/airbnb" target="_blank"><i class="fab fa-twitter"></i></a></li>
        
                        <li><a href="https://en.wikipedia.org/wiki/Airbnb" target="_blank"><i class="fab fa-google"></i></a></li>
        
                        <li><a href="https://www.instagram.com/airbnb/" target="_blank"><i class="fab fa-instagram-square"></i></a></li>                
                    </ul>
                    <p>Copy Right 2021 © By <a  routerLink="#"> Airbnb </a> All Rights Reserved</p>
                </div>
                <div class="col-md-3"></div>
            </div>
            
        </div>

    </footer>

</section>