<div class="container-fluid py-5">
<div class="row">
    <div class="col-md-4 m-auto ">
     <div class="card p-3">
         <img class="card-img-top" src="" width="100%" alt="Card image cap">
         <div class="card-body">
             
           <!--<h5 class="card-title"><span> {{item.address}}</span></h5>
           <p class="card-title"><span> {{item.description}} </span></p>
           <h5 class="card-title"><span> {{item.propertyType}}</span></h5>
           <h5 class="card-title"><span> {{item.numberOfGuests}} guests</span></h5>
           <h5 class="card-title"><span> {{item.numberOfBedrooms}} bedrooms</span></h5>
           <h5 class="card-title"><span> {{item.numberOfBathrooms}} bathrooms</span></h5>
           <h5 class="card-title"><span> {{item.totalPrice}}</span></h5>
           <h5 class="card-title"><span> {{item.numberOfNights}} Nights</span></h5>
           <h5 class="card-title"><span> {{item.activities}} </span></h5>
           <a [routerLink]="['/hosting/editListing',item.hostID]" routerLinkActive="router-link-active" class="btn btn-success mr-2">Edit</a>
           <a class="btn btn-danger" (click)="deleteHost(currentIndex)">Delete</a>-->
         </div>
       </div>
    </div>
</div>
</div>