<section id="reserve">
    <div class="container  my-5">
        <div id="form" class="col-md-8 m-auto">
            <h2>Billing address</h2>
            <form [formGroup]="form">
                <div class="form-group">
                  <label for="exampleInputcountry1"><h4>Country:</h4></label>
                  <input formControlName="country" type="text" class="form-control"   placeholder="Enter country">
                  <div *ngIf="form.controls['country'].invalid && (form.controls['country'].touched || form.controls['country'].dirty)">
                    <small  class="form-text text-danger" *ngIf="form.controls['country'].hasError('required')" >Required field</small>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputcountry1"><h4>City:</h4></label>
                  <input formControlName="city" type="text" class="form-control"   placeholder="Enter city">
                  <div *ngIf="form.controls['city'].invalid && (form.controls['city'].touched || form.controls['city'].dirty)">
                    <small  class="form-text text-danger" *ngIf="form.controls['city'].hasError('required')" >Required field</small>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputcountry1"><h4>Street:</h4></label>
                  <input formControlName="street" type="text" class="form-control"   placeholder="Enter street">
                  <div *ngIf="form.controls['street'].invalid && (form.controls['street'].touched || form.controls['street'].dirty)">
                    <small  class="form-text text-danger" *ngIf="form.controls['street'].hasError('required')" >Required field</small>
                  </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputapartmentNumber1"><h4> Apartment Number:</h4></label>
                    <input formControlName="apartmentNumber" type="text" class="form-control" id="exampleInputapartmentNumber1" placeholder="apartmentNumber">
                    <div *ngIf="form.controls['apartmentNumber'].invalid && (form.controls['apartmentNumber'].touched || form.controls['apartmentNumber'].dirty)">
                      <small class="form-text text-danger" *ngIf="form.controls['apartmentNumber'].hasError('required')">required apartmentNumber</small>
                    </div>
                  </div>

                  <!-- <mat-form-field>
                    <mat-date-range-input [rangePicker]="picker" [dateFilter]="unavailableDays">
                  <input matStartDate  placeholder="Start date"  formControlName="startDate">
                  <input matEndDate   placeholder="End date" formControlName="endDate">
                    </mat-date-range-input>
                  </mat-form-field>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

                  <mat-date-range-picker #picker></mat-date-range-picker> -->

                  <div class="row">
                    <div class="col-xs-12 col-12 col-sm-6 col-md-6 form-group ">
                      <label for="date"><h5>From :</h5></label>
                      <input 
                      class="form-control"
                      type="text" 
                      placeholder="Enter Start Date" 
                      bsDatepicker 
                      placement="bottom" 
                      [bsConfig]="{isAnimated: true, adaptivePosition: true,dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-default'}"
                      (bsValueChange)="onValueChange1($event)"
                      formControlName="startDate"
                      [minDate]="minDate"
                      [datesDisabled]="disabledDates"
                      >
                    </div>
                    <div class="col-xs-12 col-12 col-sm-6 col-md-6 form-group ">
                        <label for="date"><h5>To :</h5></label>
                        <input 
                        class="form-control"
                        type="text" 
                        placeholder="Enter End Date" 
                        bsDatepicker 
                        placement="bottom" 
                        [bsConfig]="{isAnimated: true, adaptivePosition: true,dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-default'}"
                        (bsValueChange)="onValueChange2($event)"
                        formControlName="endDate"
                        [minDate]="minDate"
                        [datesDisabled]="disabledDates"
                        >
                      </div>
                  </div>

                <button (click)="calculate()" type="button" class="btn ml-5 btncalc">Calculate Total Price</button>
                <span *ngIf="isVisible && isCalculated" class="ml-3">${{tripCost}}</span>
                
                <button [disabled]="form.invalid" type="submit" class="btn mt-3" (click)="confirm()" >Confirm</button>
                </form>
        </div>
    </div>
</section>
