body{
    box-sizing: border-box;
}
nav.navbar{
    box-shadow: 5px 5px 5px #aaa;
}
nav.navbar .navbar-brand .icon{
    margin-right: 10px;
    font-size: 2.5rem;
    color: #DE1E45;
}
nav.navbar .navbar-brand .logo{
    font-size: 2rem;
    color: #DE1E45;
    font-weight: bold;
}
nav.navbar .navbar-nav .nav-item .nav-link{
    color: black;
    margin-right: 2rem;
    color: #DE1E45;
    font-weight: bold;
    
}
nav.navbar .navbar-nav .nav-item .nav-link:hover{
    color:#444
}
div.dropdown-menu{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.dropdown-menu{
    left: -165% !important;
}

