div.icon{
    margin-bottom: 2rem;
    overflow: hidden;
    height: 160px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
div.icon img{
    height: 100%; 
   
}
div.content{
    padding: 0 2rem;
}
div.content h4{
    font-weight: bold;
    color: #444;
    margin-bottom: 1rem;
}
@media(max-width:992px){
    div.content{
        margin-bottom: 3rem;
    }
    div.icon{
        /* height: 180px; */
        width: 60%;
        display: inline-block;
        text-align: center;
        
    }
}