<section>
    <div class="container text-center" *ngIf="!isLoaded">
        <div class="spinner-border text-dark mb-3" role="status" >
        </div>
        <h6>Loading........</h6>
    </div>
    <div class="container pt-4" *ngIf="user.length>0 && isLoaded">
        <div class="row">
            <div class="col-lg-4">
                <div class="card"  >
                    <img class="card-img-top "  width="50%" src="http://localhost:7000/uploads/{{user[0].userImage}}" alt="Card image cap" *ngIf="!isVisible">
                    <div class="container">
                        <form [formGroup]="form" *ngIf="isVisible">
                            <div class="form-group">
                                <label for="photo" ><h4>Upload your photo:</h4></label>
                               <div class="row justify-content-around">
                                <input formControlName="userImage" type="file"  class="form-control col-lg-10 col-sm-12" (change)="upload($event)" >
                                <!-- <img [src]=url alt=""> -->
                                <button  type="button" class="btn mt-2 upload" (click)="updateImage()">upload</button>
                               </div>
                              </div>
                        </form>
                        <button type="button" class="btn btn-warning mt-2 change" (click)="changeImage()"  *ngIf="!isVisible" >Change</button>
                    </div>
                   
                    <!-- <input  type="file" id="photo" class="form-control" (change)="upload($event)" *ngIf="!isVisible">
                    <button type="button" class="btn btn-success" *ngIf="!isVisible" (click)="updateImage()">upload</button> -->
                    <div class="card-body">
                      <h2 class="card-title">Profile</h2>
                      <div class="profile">
                          <h6>First Name: <span>{{user[0].firstName}}</span></h6>
                          <h6>Last Name: <span>{{user[0].lastName}}</span></h6>
                          <h6>Email : <span>{{user[0].email}}</span> </h6>
                          <h6>Mobile: <span>{{user[0].mobile}}</span></h6>
                          <h6>Age: <span>{{user[0].age}}</span></h6>
                          <h6>Gender: <span>{{user[0].gender}}</span></h6>
                      </div>
                      <a [routerLink]="['/user/edit',user[0].userID]" routerLinkActive="router-link-active" class="btn" >Edit</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-8">
                <div>
                    <img src="/assets/images/profile2.jpeg" width="100%" alt="">
                </div>
            </div>
        </div>
    </div>
</section>