<div class="container p-4">
  <h2 class="p-5 text-center">Experiences List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Host Name</th>
      <th scope="col">Place</th>
      <th scope="col">Type Of Experience</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Total Price</th>
      <th scope="col">Approved Status</th>
      <th scope="col">Decline Status</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of experiences[0] ; let currentIndex=index;">
    <tr [ngClass]="{'approved': item.experienceStatus==Approved, 'decline':item.experienceStatus==Declined }">
      <th scope="row" >{{currentIndex+1}}</th>
      <td>{{item.hostName}}</td>
      <td>{{item.place}}</td>
      <td>{{item.typeOfExperience}}</td>
      <td>{{item.startDate | date:"dd-MM-YYYY"}}</td>
      <td>{{item.endDate | date:"dd-MM-YYYY"}}</td>
      <td>{{item.totalPrice}} $</td>
     
      <td><button type="button" class="btn btn-info" (click)="approve(currentIndex) " >Approve</button></td>
      <td><button type="button" class="btn btn-danger" (click)="decline(currentIndex)">Decline</button></td>
    </tr>
  </ng-container>
  </tbody>
</table>
</div>